<div class="sub-container">
    <mat-card>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-slide-toggle [(ngModel)]="isOneWay" name="isOneWay" (ngModelChange)="onUpdate($event)">One Way</mat-slide-toggle>
                </div>
            </div>
            <div class="row" *ngIf="!isOneWay">
                <div class="col"> Min day
                    <mat-slider thumbLabel [(ngModel)]="minDay" name="minDay" 
                    [displayWith]="formatLabel" tickInterval="1000"
                        min="1" max="15" (ngModelChange)="onUpdate($event)">
                    </mat-slider>
                </div>
                <div class="col"> Max day
                    <mat-slider thumbLabel [(ngModel)]="maxDay" name="maxDay" 
                    [displayWith]="formatLabel" tickInterval="0"
                        min="1" max="15" (ngModelChange)="onUpdate($event)">
                    </mat-slider>
                </div>
            </div>

        </mat-card-content>
    </mat-card>
</div>