<!-- Loading spinner -->
<div *ngIf="loading" class="loading-indicator">
  <mat-progress-spinner color="primary" mode="indeterminate">
  </mat-progress-spinner>
</div>

<app-side-nav [(showMenu)]="showMenu"></app-side-nav>
<main class="root__container" [ngClass]="{'root__container-dark': darkModeActive}">
  <app-header [(showMenu)]="showMenu" (isDarkMode)="modeToggleSwitch($event)"></app-header>
  <div class="main-container__bg">
    <!-- <app-flight-destination></app-flight-destination>  -->
    <router-outlet></router-outlet>
  </div>  
</main>